html, body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: .8em;
}

p {
    font-size: .75em;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gameDiv > button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -5%);
    border: 0;
    border-radius: 3px;
    height: 15%;
}

#backgroundCanvas {
    position: absolute;
    z-index: 10;
}

#gameCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.modalWithButton {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalWithButton.deactivated {
    opacity: 0;
    pointer-events: none;
}

.modalWithButton > div {
    height: 30%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.gameDiv {
    width: 20%;
    height: 20%;
    position: fixed;
    z-index: 20;
    background: #d0d0d0;
    border-radius: 10px;
}

.gameDiv > h1 {
    text-align: center;
    margin: auto;
    padding-top: 10%;
}

.gameDiv > p {
    text-align: center;
}

#scoreDiv {
    left: 10%;
    top: 10%;
}

#levelDiv {
    left: 70%;
    top: 10%;
}

#roundDiv {
    left: 70%;
    top: 50%;
}